@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,900&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: #f1f1f1;
}

/*-------------- Navigation --------------*/

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background: transparent;
}

nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    transition: opacity 1s;
    /*display: block;*/
    position: relative;
    /*padding: 0.2em 0;*/
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #fff;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

nav a:hover::after,
nav a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

@media screen and (max-width: 550px) {
    nav li {
        margin: 0 8px;
    }

    nav a {
        font-size: 15px;
    }
}

/*-------------- Accueil Fondu --------------*/

.home {
    height: 800px;
    display: flex;
    overflow: hidden;
}

.bloc-left-home {
    position: relative;
    width: 40%;
    height: 100%;
    background: #000;
    box-shadow: 90px 0 100px 100px #000;
    transition: width 0.6s;
}

h1 {
    color: #f1f1f1;
    font-family: Montserrat, sans-serif;
    font-size: 80px;
    font-weight: 700;
    padding-top: 200px;
    padding-bottom: 20px;
    margin-left: 6vw;
    white-space: nowrap;
}

.home p {
    color: #f1f1f1;
    font-size: 30px;
    width: 600px;
    margin-left: 6vw;
    line-height: 1.3;
}

.container-btn-home {
    display: flex;
}

.btn-home {
    font-size: 18px;
    text-align: center;
    color: #f1f1f1;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    margin-top: 40px;
    border: 2.5px solid #f1f1f1;
    width: 150px;
    cursor: pointer;
    box-shadow: 5px 5px 0 0 #f1f1f1;
    position: relative;
    top: 0;
    left: 0;
    transition: color .3s, background .3s, top .3s, left .3s, box-shadow .3s ease-in-out;

}

.btn-home:hover {
    color: #000;
    background: #f1f1f1;
    left: 5px;
    top: 5px;
    box-shadow: none;
}

.btn1 {
    margin-left: 6vw;
}

.btn2 {
    margin-left: 15px;
}

.bloc-right-home {
    background-image: url(ressources/gym-accueil.jpg);
    width: 60%;
    height: 100%;
    background-position: 70% 10%;
}

/* Medias accueil fondu  */

@media screen and (max-width: 1350px) {
    .bloc-right-home {
        background-position: 72% 10%;
    }

    .bloc-left-home {
        width: 60%;
    }
}

@media screen and (max-width: 950px) {
    .home {
        height: 600px;
    }

    h1 {
        font-size: 50px;
        padding-top: 120px;
    }

    .home p {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .btn-home {
        padding: 12px;
        margin-top: 20px;
        box-shadow: 3px 3px 0 0 #f1f1f1;
    }

    .bloc-left-home {
        width: 50%;
    }

}

@media screen and (max-width: 550px) {
    .home {
        height: 450px;
    }

    h1 {
        font-size: 40px;
        padding-top: 100px;
        margin-left: 2vw;
    }

    .home p {
        font-size: 20px;
        margin-left: 2vw;
        margin-bottom: 15px;
    }

    .btn-home {
        padding: 8px;
        font-size: 16px;
    }

    .btn1 {
        margin-left: 2vw;
    }

    .btn2 {
        margin-left: 10px;
    }

    .bloc-left-home {
        box-shadow: 20px 0 100px 100px #000;
    }
}
